.navigation {
  z-index: 99;
  width: 100%;
  height: 68px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom: 1px solid #ededed;
  box-shadow: 0 0.1px 10px -4px #999999;
}
.wrap {
  z-index: 100;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  .logo {
    .logoi {
      width: 110px;
      height: 27.88px;
    }
  }
  .left {
    display: flex;
    height: 60px;
    margin-left: 20px;
    li {
      padding: 0 30px;
      height: 68px;
      line-height: 68px;
      &:hover {
        background-color: rgb(230, 214, 198);
      }
      a {
        text-decoration: none;
        color: rgb(31, 31, 31);
        font-size: 14px;
        line-height: 100%;
        width: 100%;
        &:hover {
          color: rgb(227, 190, 150);
        }
      }
    }
  }
  .cart {
    display: flex;
    margin-left: 20px;
    .count {
      font-weight: bold;
    }
  }
  .logo-wrap {
    margin-left: 150px;
  }
}

.wrap2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 68px;
  background-color: white;
  display: none;
  box-shadow: 1px 5px 15px rgba(0,0,0,.2);
}
.wrap2 > ul > li > a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-size: 14px;
  line-height: 38px;
  font-weight: bold;
}
.wrap2 > ul > li > a:hover {
  color: rgb(227, 190, 150);
}
.wrap2 > ul {
  float: left;
  margin: 40px 0 0 305px;
}
.wrap2 .wA1 {
  margin-left: 137px;
}
.wrap2 > div {
  float: left;
  width: 248px;
  height: 339px;
  margin: 0 auto;
  text-align: center;
}
.w2I {
  width: 200px;
  height: 200px;
  padding: 24px;
  display: block;
}
.w2I img {
  width: 200px;
  height: 200px;
}
.w2P1 {
  display: block;
  height: 30px;
  padding: 0 25px;
  text-decoration: none;
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  margin-top: 40px;
}
.w2P2 {
  width: 223px;
  height: 44px;
  padding-left: 25px;
  font-size: 14px;
  color: red;
}
